/* #vowel-sound {
    background-image: url("assets/img/vowel-tongue.jpeg");
    background-position: center; Center the image
    background-repeat: no-repeat; Do not repeat the image
    background-size: cover;
    height: 300px;
    position: relative;
} */
#vowel-sound, #consonants-sound  {
    position: relative;
    width: 80vw;
}

/* {
    position: relative;
    width: 80vw;
} */

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    /* height: 300px; */
  }

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    background-color: #04AA6D;
    color:aliceblue;
    /* border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    border-radius: 2px;
    width: 8px;
    height: 8px; */
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;

}

.mono {
    background-color: #04AA6D;
}

.di {
    background-color: lightseagreen;

}

.bilabial {
    background-color: red;
}

.labio-dental {
    background-color: orangered;
}

.dental {
    background-color: orange;
}

.alveolar {
    background-color: green;
}

.vowel, .consonant{
    position: absolute;
    /* border:1px solid black; */
}

#iː {
    top: 43%;
    left: 25%;
}

#ɑː {
    top: 61%;
    left: 63%;
}

#ʊ {
    top: 46%;
    left: 60%;
}

#ɔː {
    top: 55%;
    left: 68%;
}

#ɒ {
    top: 61%;
    left: 68%;    
}

#ɪə {
    top: 46%;
    left: 35%;
}

#eɪ {
    top: 49%;
    left: 31%;
}

#aʊ {
    top: 61%;
    left: 42%;
}

#əʊ {
    top: 52%;
    left: 49%;
}

#ʌɪ {
    top: 55%;
    left: 61.5%;
}

#ɔɪ {
    top: 55%;
    left: 70.5%;
}

#ʊə {
    top: 46%;
    left: 62.5%;
}

#ɪ {
    top: 46%;
    left: 37.5%;
}

#ɛ {
    top: 55%;
    left: 35%;
}

#ɛː {
    top: 55%;
    left: 37.5%;   
}

#a {
    top: 61%;
    left: 44.5%;
}

#uː {
    top: 43%;
    left: 68%;
}

#ə {
    top: 52%;
    left: 51.5%;
}

#əː {
    top: 52%;
    left: 54%;
}

#ʌ {
    top: 55%;
    left: 64%;
}

#f {
    top: 56%;
    left: 26.5%;
}

#v {
    top: 53%;
    left: 26.5%;
}

#θ {
    top: 56%;
    left: 31%;
}

#ð {
    top: 53%;
    left: 31%;
}

#s {
    top: 47%;
    left: 37%;
}

#z {
    top: 44.5%;
    left: 37%;
}